body {
    background-color: #141d26;
    color: #fff;
    font-family: Arial, sans-serif;
}

.tweet-container {
    max-width: 600px;
    margin: 20px auto;
}

.tweet {
    background-color: #192734;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
}

div .user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 12px;
}

div img:hover {
    background-color: pink;
    opacity: 0.5;
}